<h1>Editar Tweet</h1>

<%= form_for @tweet do |f| %>
<%= link_to "ver todos", tweets_path %>

  <p>
    <%= f.label :message, "Tweet" %><br>
    <%= f.text_area :message %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>