<h1>Lista de Tweets</h1>

<%= link_to "Agregar Tweet", new_tweet_path %>

<ol>
	<% @tweets.each do |tweet| %>

		<li>
		<%= tweet.message %>
		<%= link_to"editar", edit_tweet_path(tweet)%> <!--el tweet entre parentesis es el id que se le pasa a la ruta -->
		<%= link_to"eliminar", tweet_path(tweet), method: :delete, data: {confirm: "estas seguro?"} %>
		</li>

	<% end %>
</ol>
<h2>Los tweets de Bootcamp</h2>
<ul>
	<% @tweets_de_bootcamp.each do |tweet| %>
		<li><%= tweet.message %></li>
	<% end %>
</ul>

