<h1>Crear tweets</h1>

<%= form_for @tweet do |f| %>

  <p>
    <%= f.label :message, "Tweet" %><br>
    <%= f.text_area :message %>
  </p>

  <p>
    <%= f.select :user_id, User.all.collect{|u|[u.name, u.id]} %>
   </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>